.form__header {
  color: #4e30f8;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;
}

.form__labelText {
  width: 100%;
  max-width: 200px;
  display: inline-block;
  margin-right: 5px;
}

.form__field {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
}

.form__button {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
  box-shadow: 2px 2px 5px #a410e9;
  padding: 10px 35px;
  background-color: #eeeeee;
}

.form__info {
  font-size: 14px;
  text-align: center;
  color: rgb(12, 12, 12);
}

.form__result {
  color: #bb1422;
  text-align: center;
  font-size: 20px;
  padding-bottom: 15px;
}
